*{
	padding:0px;
	margin:0px;
}
body{
	
	background:url("C:/Users/DELL/Desktop/SyntaxSaga/Images/bg5.jpg");
	background-size:cover;
	background-attachment:fixed;
	box-sizing:border-box;
}

.home{
	margin-bottom:25px;
}
header{
	height:40px;
	width:100%;
	background-color:#419161;
	color:white;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;

}

h1{
	float:left;
	margin:auto;
	font-size:30px;
	margin-left:20px;
	height:30px;
	width:100%;
	background-color:#419161;
	color:white;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom:20px;
	
}

nav{
	padding:10px 20px;

}

ul{
	display:flex;
	margin:auto;
	list-style-type:none;
	justify-content:flex-end;
}

li{
	margin-left:20px;
	cursor:pointer;
	position:relative;
	display:inline-block;
	padding-bottom:5px;
	font-size:18px;
}

nav ul li::after{
	content:"";
	position:absolute;
	left:0;
	bottom:5;
	height:2px;
	width:0;
	background-color:white;
	transition:width 0.3s ease-in-out;
}

nav ul li:hover::after{
	width:100%;
}
	
.img1{
	display:inline-block;
}
.img01{
	margin-top:10px;
	height:560px;
	width:510px;
	margin-left:0;
}

.intro{
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:30px;
	margin-left:30px;
	margin-top:50px;
	position:absolute;
	display:inline-block;
}
.introduction{
	color:white;
}
.name{
	font-family: "Pacifico", cursive;
	font-optical-sizing: auto;
	font-style: normal;
	font-size:45px;
	color:#FCB045;

}

.last{
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:30px;
	display:inline-block;
	margin-top:40px;
}

.know_more{
	height:50px;
	width:190px;
	border-radius:40px;
	background-color:#FCB045;
	color:#FFFCFA;
	cursor:pointer;
	transition:opacity 0.3s ease-in-out;
}

.know_more:hover{
	opacity:0.7;
}

h1{

	
}



.html{
	height:400px;
	width:350px;
}

.css{
	height:400px;
	width:350px;
}

.education{
	display:flex;
	justify-content:flex-end;
	align-items:center;
	gap:10px;
	margin-bottom:20px;
	margin-top:20px;
}

.vbspu{
	height:100px;
	width:150px;

}

.cbse{
	height:100px;
	width:150px;
}
	
.school{
	font-weight:bold;
	font-size:20px;
	color:#FCB045;
}

.college{
	font-weight:bold;
	font-size:20px;
	color:#FCB045;
	
}

.certificates{
	margin-top:20px;
	gap:10px;
}
.myimg2{
	height:90%;
	width:400px;
	float:right;
}